builds/
screenshots/
.import/
.mono/

*.import
*.dll
*.exp
*.lib
*.obj
*.pdb
*.cache
*.*~
/cookie/*.import
/cookie/Grid.atlas/*.import
/cookie/images/*.import
/td2/.mono/*
/td2/*.import
/td2/images/*.import
*.import
